* {
  font-family: "Open Sans", sans-serif;
}
$xl-text-size: 36;
$lg-text-size: 24px;
$md-text-size: 18px;
$nm-text-size: 16px;
$xs-text-size: 14px;

@media (min-width: 320px) and (max-width: 767px) {
  .navbar-home {
    max-width: 100%;
  }
}

body {
  padding: 0rem;
}

.home-container {
  font-size: 2.5rem;
  text-align: center;
  margin: 8vh 5vw;
  padding: 20% 40%;
  /* max-height: 25%;
  max-width: 80%; */
  text-decoration: none;
}

.home-container a {
  color: white;
  font-size: 5rem;
  font-weight: 500;
  text-decoration: none;
}

#list-image {
  background-image: url("../images/find-image.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
}

#user-icon {
  color: white;
  padding-left: 40vw;
}

#rent-image {
  background-image: url("../images/rent-out-image.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.navbar-home {
  background-color: #562f7e;
  height: 10vh;
}

.navbar-list img {
  max-height: 10vh;
}

.search-details {
  display: flex;
  justify-content: center;
  width: 80vw;
  margin-top: 2%;
}

.criteria-container {
  display: flex;
  justify-content: center;
  margin: 2vh 0;
}

.sent-container {
  display: none;
}

.detail-header {
  text-align: center;
  margin-top: 1%;
}

#price {
  text-align: start;
  margin-left: 7%;
}

#apply-button a {
  text-decoration: none;
  color: white;
}

#card {
  display: flex !important;
  justify-content: space-evenly !important;
  align-items: center !important;
  margin: 2vh 0;
}

#map-div {
  display: flex;
  justify-content: center;
  margin: 2vh 0;
}

#preferences {
  display: flex;
  justify-content: center;
}

.backToList {
  display: flex;
  align-items: center;
}

#description {
  margin: 1%;
}

.btn {
  margin: 0 2vw;
}

.form-group {
  margin: 0 10vw;
}

#message-btn {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
}

.sent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 3rem;
  text-decoration: none;
  border-style: 2px solid black;
  height: 10%;
  width: 10%;
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 1281px) {
  #header-logo {
    position: relative;
    width: 4rem;
    height: auto;
    top: 1rem;
    left: 1.2rem;
  }
}
/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
